.userInfo {
    display: flex;
    align-items: center;
    margin: 0;
}

.labelField {
    width: 30%;
    height: auto;
    padding: 1rem 0;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    font-weight: 300;
    margin: 0;
}

.passResetBtn {
    margin:0.5rem 0;
}

.passField {
    width: 23%;
}

.cardMob {
    padding: 0;
}

@media screen and (max-width: 992px) {
    .labelField {
        width: 100%;
    }
    .userInfo {
        flex-direction: column;
    }

    .passField {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        font-size: 0.95rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        font-weight: 300;
        margin: 0;
        text-align: left;
    }

    .passResetBtn {
        max-width: 300px;
        margin:0 auto 0 0;
    }
}

@media screen and (max-width: 425px) {
    .labelField {
        width: 100%;
        font-size: 12px;
        margin-bottom: .5rem;
        padding: 0;
    }
    .userInfo {
        margin-bottom: 1rem;
    }

    .passField {
        padding: 0;
        margin-bottom: .5rem;
    }
}