.userInfo {
  display: flex;
  align-items: center;
  margin: 0;
}

.labelField {
  width: 30%;
  height: auto;
  padding: 1rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  font-weight: 300;
  margin: 0;
}

.passField {
    width:23%;
}