.navProfile {
  display: flex;
  color: #171717;
  border-radius: 0.375rem;
  font-size: 16px;
  align-items: center;
}

.navProfile.active {
  background-color: #ddd;
}

.navIcon {
  width: 30px;
  margin: 0 10px 0 0;
}

.navTabs {
  list-style: none;
  width: 100%;
}

.cardHeaderMob {
  display: none;
}

@media screen and (max-width: 992px) {
  .navProfile {
    justify-content: center;
  }
  .navLinkMob {
    width:100%;
    margin: 0 0 15px;
  }
  .navTabs {
    padding: 0;
  }

  .tabDesk {
    display: none;
  }

  .cardMob {
    padding: 0;
  }

  .cardHeaderMob {
    display: flex;
  }
}
