.btnAdd {
    transition: all 500ms;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btnAdd:hover {
    transform: scale(1.2);
}

.creditCard {
    position: relative;
    height: 150px;
    background-color: #eeeeee;
    margin: 10px auto;
}

.cardBodyCustom {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.checkBoxLabel {
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardNumber {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.modalWindow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    width: 350px;
    height: 200px;
}

.cardMob {
    padding: 0;
}
