.btnAdd {
    transition: all 500ms;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btnAdd:hover {
    transform: scale(1.2);
}

.creditCard {
    position: relative;
    height: 150px;
    background-color: #eeeeee;
    margin: 10px auto;
    box-shadow: none;
    border:1px solid rgba(90,97,105,.15);
    padding: 0;
}

.controlsGroup {
    display: flex;
    color:#171717;
}

.cardBodyCustom {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.checkBoxLabel {
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 11px !important;
}

.cardBank {
    display: flex;
    align-items: center;
    font-weight: 600;
    color:#171717;
}

.cardNumber {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color:#171717;
}

.cardNumberTitle {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    color:#868e96;
}

.modalWindow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    width: 350px;
    height: 200px;
}

.cardMob {
    padding: 0;
}
