.titleBlock {
    font-size: .9rem;
    margin-bottom: 10px;
}

.contentBlock {
    font-weight: 800;
    font-size: 1rem;
    padding: .375rem .5rem;
}

.block {
    padding: 1rem;
}

.navLink {
    color:#5a6169;
}

.navTab {
    padding: 0;
    text-align: center;
    font-size: 1rem;
    color:#171717;
}

.navLink:hover {
    color:#5a6169;
}

.nameDeal {
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem;
}

.card {
    box-shadow: none;
    border:1px solid rgba(90,97,105,.15);
}

.cardBody {
    padding: 0;
}

.card:hover {
    background-color: rgba(90,97,105,.06);
}

/*{*/
/*"priority": 0,*/
/*"title": "Сделка создана" secondary*/
/*},*/
/*{*/
/*"priority": 1,*/
/*"title": "Приглашение второго участника" info*/
/*},*/
/*{*/
/*"priority": 2,*/
/*"title": "Условия приняты, ожидается оплата" info*/
/*},*/
/*{*/
/*"priority": 3,*/
/*"title": "Оплата произведена" success*/
/*},*/
/*{*/
/*"priority": 4,*/
/*"title": "Сделка выполняется" warning*/
/*},*/
/*{*/
/*"priority": 5,*/
/*"title": "Передано в доставку" info*/
/*},*/
/*{*/
/*"priority": 6,*/
/*"title": "Приемка работ" info*/
/*},*/
/*{*/
/*"priority": 7,*/
/*"title": "Работы не приняты, передача в арбитраж" danger*/
/*},*/
/*{*/
/*"priority": 8,*/
/*"title": "Сделка завершена" success*/
/*}*/