.cardNumberInput {
  width: 100%;
}

.cardNumberInput::-webkit-outer-spin-button,
.cardNumberInput::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.checkBoxLabel {
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
