.navTab {
    padding: 0;
    text-align: center;
    font-size: 1rem;
    color:#171717;
    margin-bottom: -2px !important;
}

.navLink {
    color:#5a6169;
}

.navLink:hover {
    color:#5a6169;
}

.navList {
    padding: 0 10px;
}
