.titleBlock {
  font-size: .9rem;
  margin-bottom: 10px;
}

.contentBlock {
  font-weight: 800;
  font-size: 1rem;
  padding: .375rem .5rem;
}

.navLink {
  color:#5a6169;
}

.navLink:hover {
  color:#5a6169;
}

.block {
  padding: 1rem;
}

.card {
  box-shadow: none;
  border:1px solid rgba(90,97,105,.15);
}

.nameDeal {
  font-weight: 800;
  font-size: 1rem;
  padding: 1rem;
}

.cardBody {
  padding: 0;
}

.card:hover {
  background-color: rgba(90,97,105,.06);
}