.navProfile {
    display: flex;
    color: #171717;
    border-radius: 0.375rem;
    font-size: 16px;
    align-items: center;
}

.navProfile:focus {
    color: #171717;
}

.dropMenu {
    width: 100%;
    text-align: center;
}

.cardHeaderMob {
    display: none;
}

.cardMob {
    padding: 0;
}

.navProfile.active {
    background-color: #ddd;
}

@media screen and (max-width: 992px) {
    .navProfile {
        justify-content: center;
    }

    .navLinkMob {
        width: 100%;
        margin: 0 0 15px;
    }

    .cardHeaderMob {
        display: flex;
    }
}
