.main {
    padding: 15px;
}

.statusTimeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 7.5rem;
    /*padding: 0 25px;*/
    transition: all 200ms;
    /*background: #44544f;*/
    background: #5fbdff1f;
    border-radius: 100px;
    z-index: 0;
    /*box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);;*/

}

.statusTimeline:before {
    /*content: "";*/
    z-index: -3;
    position: absolute;
    width: calc(100% - 100px);
    height: 30px;
    /*background-color: #f7f7f7;*/
    background-color: #ffffff;
    display: block;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.statusDescription {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #595959;
    background-color: #ffffff;
    font-size: 11px;
    position: absolute;
    padding: 0 3px;
    height: 3.3rem;
    width: 130px;
    border-radius: 7px;
    bottom: -65px;
    transition: all 300ms ease;
    opacity: 0;
    /*box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);*/
}

.statusDescription:before {
    content: "";
    position: absolute;
    background-color: inherit;
    width: 30px;
    height: 30px;
    top: -20px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(50%) rotate(45deg);

}

.statusDescription.small {
    transform: scale(0.9);
}


.statusDescription.current {
    background-color: #6ade5f;
    color: #fff;
    font-weight: bold;
}

.statusDescription.error{
    background-color: #ef876d !important;
}

.statusDescription.active {
    opacity: 1
}

.statusItemWrapper {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    cursor: default;
}

.statusItemWrapper:hover > .statusItem{
    filter: brightness(1.12);
    transform: scale(1.05);
}

.statusItem {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    background-color: #efefef;
    border-radius: 50%;
    transition: all 200ms;
    border: 6px solid rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1ffcd;
    font-size: 13px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);;
}

.statusItem.error {
    border: 6px solid rgb(232, 126, 107) !important;
    background-color: #ef876d !important;
}

.statusItem.archieved {
    width: 100px;
    height: 100px;
    background-color: #6ade5f;
    border-radius: 50%;
    border: 6px solid #71ee66;
    z-index: -2;
}

/*.statusItem.archieved:not(.past):before {*/
/*    content: "";*/
/*    width: 120%;*/
/*    height: 120%;*/
/*    background-color: #202529;*/
/*    position: absolute;*/
/*    top: -10%;*/
/*    left: -10%;*/
/*    z-index: -100;*/
/*    border-radius: 50%;*/
/*}*/

.statusItem.archieved.past {
    width: 80px;
    height: 80px;
    background-color: #60ca56;
    border: 6px solid #68dc5f;
}

.sidebarCard {
    position: relative;
    max-height: calc(1.09375rem * 2 + 1.09375rem);
    overflow: hidden;
    border-radius: .625rem;
    transition: all 400ms;
}

.sidebarCard.opened {
    max-height: 20rem;
}

.sidebarCard .cardImg {
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90,97,105,.5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.grayWrapper {
    /*background: #f5f5f5;*/
    background: rgb(254,254,254);
    background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .statusTimeline {
        margin-bottom: 2rem;
    }
    .statusTimeline.opened {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 992px) {

    .sidebarCard .cardImg {
        display: block;
        position: relative;
        width: 70px;
        height: 70px;
        top: unset;
        right: unset;
        margin: 0 auto;
        margin-bottom: 13px;
        transform: none;
    }

    .statusItem {
        font-size: 11px;
    }


    .statusItemWrapper, .statusItem.archieved {
        width: 70px;
        height: 70px;
    }

    .statusItem, .statusItem.archieved.past {
        width: 55px;
        height: 55px;
    }
}


/* чат */

.message .messageText {
    padding: 5px 10px;
    background: #5fbdff;
    color: #ffffff;
    border-radius: 20px 20px 20px 0;
    /* border: 1px solid #eeeeee; */
    width: -moz-fit-content;
    width: fit-content;
    text-shadow: 1px 1px 1.7px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.07), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.message.firstColor .messageText{
    background: #5fbdff;
}

.message.secondColor .messageText{
    background: #3c7aa4;
}

.message.thirdColor .messageText{
    background: #22465f;
}

.message .messageText + div {
    margin-left: 0;
    font-size: 10px;
    margin-top: 2px;
}

/* end чат*/



@media screen and (max-width: 767px) {
    .statusTimeline {
        margin-left: -20px;
        margin-right: -20px;
    }

    .statusTimeline:before {
        width: calc(100% - 30px);
    }

}

@media screen and (max-width: 580px) {

    .statusDescription {
        width: 100%;
        left: 0;
        bottom: -73px;
        font-size: 14px;
    }

    .statusItemWrapper, .statusItem.archieved {
        width: calc(100vw * 0.12);
        height: calc(100vw * 0.12);
    }

    .statusTimeline {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .statusItem, .statusItem.archieved.past {
        width: calc(100vw * 0.1);
        height: calc(100vw * 0.1);
    }

    .statusItem {
        font-size: 1.8vw;
    }

    .statusItem, .statusItem.archieved, .statusItem.archieved.past {
        border-width: 3px;
    }
}

