@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #eeeeee;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    line-height: 1.2;
    font-size: 13px;
}

* {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.card {
    border-radius: 0.825rem !important;
    -webkit-box-shadow: 0px 9px 14px -1px rgba(0,0,0,0.03) !important;
    -moz-box-shadow: 0px 9px 14px -1px rgba(0,0,0,0.03) !important;
    box-shadow: 0px 9px 14px -1px rgba(0,0,0,0.03) !important;
    background-color: rgba(255,255,255,0.96);
}

.card .card-header {
    border-radius: 0.825rem 0.825rem 0 0 !important;
}

.custom-checkbox .custom-control-label::after {
    top:3px;
    left:5px;
}

.custom-radio .custom-control-label::after {
    width: 9px;
    height: 9px;
    top: 5px;
    left: 3px;
}

@media screen and (max-width: 580px) {
    body, body .custom-control-label, .btn {
        font-size: 11px !important;
    }
}

.custom-control-label {
    font-size: 1rem !important;
}

.themeColor {
    background-color: #5fbdff1f;
}


/* profile tabs*/
.nav-tabs .nav-link {
    border-radius: 50px;
}
.nav-tabs .nav-link.active {
    filter: opacity(0.8);
}
.nav-tabs .nav-link:hover:not(.active) {
    color: #fff;
}
@media screen and (max-width: 768px) {
    .nav-tabs .nav-link:hover:not(.active) {
        color: inherit
    }
}
.nav-tabs .nav-link.active img {
    mix-blend-mode: normal;
    filter: none;
}
/*other restyles*/
.btn {
    border-radius: 0.825rem !important;
}
.swal2-popup, button.swal2-styled {
    border-radius: 0.825rem !important;
}
button.swal2-confirm {
    background-color: #16c671 !important;
}

