.navIcon {
  width: 30px;
  margin: 0 10px 0 0;
}

.navProfile {
  color:#171717;
}

.iconClose {
  width: 13px;
  display: flex;
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
  padding: 5px;
  box-sizing: content-box;
}

.modalWindow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  width: 350px;
  height: 200px;
}

.avatarForm {
  display: flex;
  flex-direction: column;
}

.navProfileTabs {
  color:#171717;
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.navProfile:hover, .navProfileTabs:hover {
  color:#5a6169;
}

.avatarImg {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0 auto;
  box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90,97,105,.5);
}

.avatarImg .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.iconAvatar {
  background-image: url("../../../img/icons/camera.svg");
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%) translateY(-50%);
}

.avatarImg:hover .icon {
  opacity: 1 ;
  cursor: pointer;
}

.nameAbout {
  display: flex;
  text-align: center;
  justify-content: center;
  margin:0 auto 20px;
}

.userBlock {
  display: block;
  padding: 0 0 0 40px;
}

.nameUser {
  display: flex;
  font-size: 22px;
  line-height: 20px;
  font-weight: 500;
  color:#171717;
  margin:20px auto 10px;
  text-align: center;
  justify-content: center;
}

.navTabs {
  list-style: none;
  width: 100%;
  margin: 0;
  border:none;
}

@media screen and (max-width: 992px) {
  .navProfile {
    justify-content: center;
  }
  .navTabs {
    padding: 0;
  }
  .tabDesk {
    display: none;
  }

}
